body{
    background-color: gray;
}

#logo{
    color: white;
    text-align: center;
    font-size:200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: rotate(-45deg)
}

#srch{
    text-align: center;
}

.box{
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: dimgrey;

    width: 300px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    outline-color: rgb(88, 88, 88);
}
.button{
    font-size: large;
    width: fit-content;
    height: fit-content;
    background-color:rgb(255, 255, 255);
    color:black;
}